<%= simple_form_for @site, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.input :name , :label => 'Название' %>
  <%= f.input :url, :label => 'Адресс' %>
  <%= f.input :image, :label => 'Адресс картинки' %>
  <%= f.input :public, :label => 'Публичный?' %>
  <%= f.input :about, :label => 'Описание' %>
  <%= f.input :price, :label => 'Вознаграждение(руб)' %>
  <%= f.input :seats, :label => 'Кол-во победителей' %>
  <%= f.input :winner, :label => 'Победители' %>
  <%= f.input :active_date, :label => 'Активно до' %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sites_path, :class => 'btn' %>
  </div>
<% end %>
