<%- model_class = @site.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @site.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @site.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= @site.image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:public) %>:</strong></dt>
  <dd><%= @site.public %></dd>
  <dt><strong><%= model_class.human_attribute_name(:about) %>:</strong></dt>
  <dd><%= @site.about %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @site.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seats) %>:</strong></dt>
  <dd><%= @site.seats %></dd>
  <dt><strong><%= model_class.human_attribute_name(:winner) %>:</strong></dt>
  <dd><%= @site.winner %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sites_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_site_path(@site), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              site_path(@site),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
