

<%- model_class = @site.class -%>
<div class="page-header">
  <h1><%= @site.name %></h1>
</div>

<div class='container'>
  <div class='span6'>
         <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>

  <%= link_to t('.back', :default => t("helpers.links.back")),
              sites_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_site_path(@site), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              site_path(@site),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
              
<hr>
<%end%>
    <%end%>
    <a href='<%= @site.url %>'><img src='<%= @site.image%>' alt='<%= @site.name%>'></a>
  
    <br><br>
    <div class='row'>
      <div class='span3'>
        <h3>Бюджет: <%= @site.price %> рублей</h3>Призовых мест: <%= @site.seats %><br><% if @pubdate <= 0  %> Начался период определения победителей.<% end %>
      </div>
      <div class ='span3'>
        <h3><%= @resdate%></h3> <% if @pubdate > 0 %>до завершения тестирования <% end %>
      </div>
    </div>

    
  </div>
  <div class='span4'>
    <h2>Описание</h2>
    <p><%= @site.about %></p><hr>
    <button class="btn btn-large btn-success">Отправить отчет</button>
  </div>
  
</div>
<hr>
  <div class ='row'>
  <div class ='span8'>
  <h2>Комментарии</h2><br>
  <div id='comments'>
  <% @comments.each do |comment| %>
  <strong><a href ='#'><%=comment.user.name %></a> <%= comment.created_at.in_time_zone('Europe/Moscow').to_s(:ru_datetime)%></strong><br>
  <%=comment.body %><br><br>
  
  
<% end %>
<div id='addcomment'></div>
</div>
  <% if user_signed_in? %>
<div class='commentform'>
<%= form_for @comment, :url => { :action => 'create', :controller => 'comments'}, :remote => true do |f| %>
  
  <%= f.text_area :body, :size => "1x6", :style => 'min-width: 724px;' %><br>
  <%= f.submit "Добавить комментарий"%>
<% end %>
</div>
<% end %>

</div>
<div class='span4'>
  <div class='well'>
  <h3 align='center'>Смотрите так же</h3><hr>
  <a href='#'><img src='<%= @site.image%>' alt='<%= @site.name%>'></a>
  <a href='#'><img src='<%= @site.image%>' alt='<%= @site.name%>'></a>
  </div>
</div>  
  
  
</div>